@model Allomorph3.Models.Folder

@{
    ViewBag.Title = "Upplýsingar";
}

<h2>Upplýsingar um skrá</h2>

<div>
    <h4>Folder</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolderName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Breyta", "Edit", new { id = Model.FolderID }) |
    @Html.ActionLink("Til baka", "Index")
</p>
