body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#masterhaus {
    padding-left: 20%;
}

.textEditLineNr {
    width: 10%;
}

.textEditTranslation {
    word-wrap:break-word;
    width: 300px;
    height: 100px;  
}

#reqTextColumn {
    
}

#banner {
    position: relative;
    padding-left: 5%;
    top: 1em;
    margin: auto;
    resize: both;
}

#topDiv {
    padding-top: 3%;
}

#top10label {
    margin-left: 20%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 13%;
}

#top10label,p {
    font-size: 1.5em;
    color: azure; 
}

#topsott-list {
    position: relative;
    width: 35%;
    left: 150px;
}

#request-list {
    position: relative;
    width: 35%;
    top: -500px;
    left: 650px;
}

#leitForm {
    padding-top: 2%;
    padding-left: 4.5%;
    margin-bottom: 6%;
}

#leitMaster {
    left: 20px;
    float: left;
    padding-left: 15%;
}

#flokkarLeitMaster {
    float: left;
    left: 20px;
    margin-left: 0.5%;
}

#btnLeitTextar {
    float: left;
    left: auto;
    margin-left: 0.5%;
}

#leitFormBeidnir {
    float: left;
}

#btnLeitBeidnir {
    margin-left: 0.5%;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

#createTextForm {
    
}

#textAreaFor {
    
}

#masterFooter {
    float: none;
    
}

.masterFooterLink {
    padding-left: 18%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}