body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#banner {
    position: relative;
    padding-left: 5%;
    top: 1em;
    margin: auto;
    resize: both;
}

#btnLeitBeidnir {
    margin-left: 0.5%;
}

#btnLeitTextar {
    float: left;
    left: auto;
    margin-left: 0.5%;
}

#btnRitstyring {
    position: relative;
    left: 361px;
    top: -50px;
    width: 150px;
}

#btnSkraAthugasemd {
    padding-bottom: 1%;
}

.createForm {
    position: relative;
    right: 75px;
}

#deleteFolderDetails {
    position: relative;
    right: 107px;
}

#flokkarLeitMaster {
    float: left;
    left: 20px;
    margin-left: 0.5%;
}

.folderDescription {
    width: 42%;
}

#folderTags {
    position: relative;
    left: 250px;
    top: -360px;
}

#leitForm {
    padding-top: 2%;
    padding-left: 4.5%;
    margin-bottom: 9%;
}

#leitFormBeidnir {
    float: left;
}

#leitMaster {
    left: 20px;
    float: left;
    padding-left: 15%;
}

.masterFooterLink {
    padding-left: 18%;
}

#masterhaus {
    padding-left: 20%;
}

#request-list {
    width: 35%;
    float: left;
    position: relative;
    left: 18%;
}

.requestTable {
    width: 30%;
}

table {
    width: 100%;
}

td {
    word-wrap: break-word;
}

.textEditLineNr {
    width: 10%;
}

.textEditTranslation {
    word-wrap: break-word;
    width: 300px;
    height: 100px;  
}

#top10label {
    position: relative;
    left: 34%;
}

#top10label,p {
    font-size: 1.5em;
    color: azure; 
}

#topDiv {
    padding-top: 3%;
    padding-bottom: 50%;
}

#topsott-list {
    width: 35%;
    float: left;
    position: relative;
    left: 16%;
}

ul {
    list-style-type: decimal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}