@model Tuple<IEnumerable<Allomorph.Models.SubFile>, IEnumerable<Allomorph.Models.Request>>
@{
    ViewBag.Title = "allomorph";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<div id="topDiv">
    <div class="list-group" id="topsott-list">
        <span class ="label label-success" id="top10label">Top 10 Textar</span>
        <table>
            @foreach (var subfile in Model.Item1)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Folder", new { id = subfile.FolderID }, null)" class="list-group-item">@subfile.SubName</a>
                        @*@Html.ActionLink(subfile.SubName, "Details", "Folder", new { @class = "list-group-item", subid = subfile.FolderID })*@
                    </td>
                </tr>

            }
        </table>
    </div>
</div>

<div id="topDiv2">
    <div class="list-group" id="request-list">
        <span class="label label-success" id="top10label">Top 10 Beiðnir</span>
        <table>
            @foreach (var request in Model.Item2)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Request", new { id = request.ID }, null)" class="list-group-item">@request.RequestName</a>
                        @*@Html.ActionLink(request.RequestName, "Details", "Request", new { @class = "list-group-item", subid = request.ID })*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
