@model Tuple<IEnumerable<Allomorph.Models.SubFile>, IEnumerable<Allomorph.Models.Request>>
@{
    ViewBag.Title = "allomorph";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<div id="topDiv">
    <div class="list-group" id="topsott-list">
        <span class ="label label-success" id="top10label">Top 10 Textar</span>
        <ul>
            @foreach (var subfile in Model.Item1)
            {
                <li>
                    <a href="@Url.Action("Details", "Folder", new { id = subfile.FolderID }, null)" class="list-group-item">@subfile.SubName</a>
                </li>

            }
        </ul>
    </div>

    <div class="list-group" id="request-list">
        <span class="label label-success" id="top10label">Top 10 Beiðnir</span>
        <ul>
            @foreach (var request in Model.Item2)
            {
                <li>
                    <a href="@Url.Action("Details", "Request", new { id = request.ID }, null)" class="list-group-item">@request.RequestName</a>
                </li>
            }
        </ul>
    </div>
</div>

@*<div id="topDiv2">
    
</div>*@
