@model Tuple<IEnumerable<Allomorph.Models.SubFileLine>,List<string>, List<string>>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

    <table>
        <thead>
            <tr>
                <th>GummaRow</th>
            </tr>
        </thead>
        <tbody>
            
           
                @foreach (var s in Model.Item1)
{
    <tr>
        
        
        

            @Html.DisplayFor(ModelItem => s.LineNumber)

        
        </tr>
        }
        
            @foreach (var i in Model.Item2)
            {
                <tr>
                    
                        @Html.Display(i)
                    
                </tr>
                
            }
            @foreach (var m in Model.Item3)
            {
               <tr>
                   @Html.Display(m)
               </tr>
            }
        
}

       




        </tbody>
    </table>
