@model IEnumerable<Allomorph.Models.LinesAndTranslations>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th>Lina</th>
                <th>Enskur Texti</th>
                <th>Islenskur Texti</th>
            </tr>
            @foreach (var s in Model)
            {
                
            <tr>
                <td id="textEditLineNr">@Html.DisplayFor(ModelItem => s.LineNr)</td>
                <td >@Html.TextAreaFor(ModelItem => s.EngText, new { @class="textEditTranslation"})</td>
                <td class="textEditTranslation">@Html.TextAreaFor(ModelItem => s.IceText, new { @class="textEditTranslation"})</td>
            </tr>
            }

        </tbody>
    </table>
</div>