@*@model Tuple<IEnumerable<Allomorph.Models.SubFileLine>,IEnumerable<Allomorph.Models.SubFileLineTranslation>>*@
@model IEnumerable<Allomorph.Models.SubFileLine>
@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<table>
    <thead>
        <tr>
            <th>GummaRow</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach(var s in Model)
        {

        <td>

            @Html.DisplayFor(ModelItem => s.LineNumber)
            
        </td>
        }

    </tr>
     
     


    </tbody>
</table>
