@model list<new {Allomorph.Models.Subline.ID, Allomorph.Models.Subline.LineNumber, Allomorph.Models.SublineTranslation.LineText}>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>
@*
    <table>
        <thead>
            <tr>
                <th>GummaRow</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(var s in Model)
            {

            <td>

                @Html.DisplayFor(ModelItem => s.LineNumber)

            </td>
            }

        </tr>




        </tbody>
    </table>
*@