@model IEnumerable<Allomorph.Models.LinesAndTranslations>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

    <table>
        <tbody>          
           
            @foreach (var s in Model)
            {
                <tr>    
                       
        
                    <td>@Html.DisplayFor(ModelItem => s.LineNr)</td>
                    <td>@Html.DisplayFor(ModelItem => s.EngText)</td>
                    <td>@Html.DisplayFor(ModelItem => s.IceText)</td>                   

        
                </tr>
            }        

        </tbody>
    </table>
