@model Tuple<IEnumerable<Allomorph.Models.SubFileLine>, List<string>, List<string>>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<table>
    @foreach (var tuple in Model.Item2)
    {
        <tr>
            <td>@tuple</td>
        </tr>
    }
</table>

<table>
    @foreach (var tuple in Model.Item3)
    {
        <tr>
            <td>@tuple</td>
        </tr>
    }
</table>
