@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h1 class="text-danger">Villuboð.</h1>
<h2 class="text-danger">Það kom upp villa við að framkvæma aðgerðina.</h2>

<h3 class="text-info">Síðan sem þú ert inn á er ekki til, slóðin í vafranum er eitthvað vitlaus.</h3>