@model Allomorph.Models.Folder
<div id="masterhaus">
    <div id="banner">
        <img src='@Url.Content( "~/Content/logo.png")' />
    </div>
    @using (Html.BeginForm("Index", "Folder", FormMethod.Get))
    {
    <div role="search" id="leitForm">
        <div class="form-group" id="leitMaster">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "  Leita að texta..." })
        </div>
        <div id="flokkarLeitMaster" class="form-group">
            @Html.DropDownListFor(model => model.ID,
                            new List<SelectListItem> {
                                new SelectListItem { Value = "0", Text = "Flokkur:"},
                                new SelectListItem { Value = "1", Text = "Kvikmynd" },
                                new SelectListItem { Value = "2", Text = "Þáttur" },
                                new SelectListItem { Value = "3", Text = "Teiknimynd" },
                                new SelectListItem { Value = "4", Text = "Íslenskt efni" }
                            },
                        new { @class = "btn btn-default btn-sm dropdown-toggle", style="height:34px;" })
        </div>
        <button id="btnLeitTextar" class="btn btn-default" type="submit">Leita!</button>
    </div>
    }
</div>