@model Allomorph.Models.SubFile

<div id="masterhaus">
    <div id="banner">
        <img src='@Url.Content( "~/Content/logo.png")' />
    </div>
    <div class="input-group">
        <div id="leit">
            <input type="text" class="form-control" placeholder="Leit...">
            <button id="btnLeit" class="btn btn-default" type="button">Leita!</button>
        </div>
        <div class="flokkar">
            <span id="movie">
                <input type="checkbox" /><a href="#"> Kvikmyndir</a>
            </span>
            <span class="check" id="episode">
                <input type="checkbox" /><a href="#"> Þættir</a>
            </span>
            <span class="check" id="cartoon">
                <input type="checkbox" /><a href="#"> Teiknimyndir</a>
            </span>
            <span class="check" id="islenskt">
                <input type="checkbox" /><a href="#"> Íslenskt efni</a>
            </span>
        </div>
    </div>
</div>