<div id="masterhaus">
    <div id="banner">
        <img src='@Url.Content( "~/Content/logo.png")' />
    </div>
    @using (Html.BeginForm("Index", "Folder", FormMethod.Get))
    {
    <div class="input-group" id="leitForm">
        <div id="leit">
            
                <p>
                    @*@Html.TextBoxFor(model => model.searchString)*@
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "  Leita...", style = "width:200px;height:32px" })
                    <button id="btnLeit" class="btn btn-default" type="submit">Leita!</button>
                </p>
        </div>
        <div id="flokkar" class="form-group">
            <span class="checkflokka">
                @*@Html.CheckBoxFor(model => model.checkbox1, true) Kvikmyndir*@
                <input type="checkbox" /><a href="#"> Kvikmyndir</a>
            </span>
            <span class="checkflokka">
                @*@Html.CheckBoxFor(model => model.checkbox2, true) Þættir*@
                <input type="checkbox" /><a href="#"> Þættir</a>
            </span>
            <span class="checkflokka">
                @*@Html.CheckBoxFor(model => model.checkbox3, true) Teiknimyndir*@
                <input type="checkbox" /><a href="#"> teiknimyndir</a>
            </span>
            <span class="checkflokka">
                @*@Html.CheckBoxFor(model => model.checkbox1, true) Íslenskt efni*@
                <input type="checkbox" /><a href="#"> Íslenskt efni</a>
            </span>
        </div>
    </div>
    }
</div>