@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h1 class="text-danger">Villuboð.</h1>
<h2 class="text-danger">Skráin sem þú reyndir að senda inn</h2>
<h2 class="text-danger">var ekki á réttu formi. Reyndu aftur.</h2>

<div id="btnBuaTilBeidni">
    <button type="button" class="btn-default btn-success btn" onclick="location.href='@Url.Action("Create", "Folder")'"><i class="icon-edit"></i>Senda inn</button>
</div>
