@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h1 class="text-danger">Villuboð.</h1>
<h2 class="text-danger">Það kom upp villa við að framkvæma aðgerðina.</h2>

<h3 class="text-info">Skráin sem þú reyndir að senda inn var ekki á réttu formi.</h3>
<h3 class="text-info">Skráin þarf að vera á '.srt' formi. Reyndu aftur með '.srt' skrá.</h3>

<div id="btnBuaTilBeidni">
    <button type="button" class="btn-default btn-success btn" onclick="location.href='@Url.Action("Create", "Folder")'"><i class="icon-edit"></i>Senda inn</button>
</div>